/*
  Переменные для вашего проекта
  и их переопределение под различные устройства
*/
:root {
  --main-font: 'IBM Plex mono';
  --accent-color: #FFC2E6;
  --text-color: #353430;
  --decor-color: #FF8DCB;
  --shadow-color: #FF0070;
}